.title {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 25px;
  font-weight: 900;
}

.photo {
  display: flex;
  justify-content: center;

  & > img {
    height: 140px;
  }
}

.param {
  font-size: 25px;

  & > span:last-child {
    font-weight: 900;
  }
}